/*CSS Style*/

 body{
 	 background-color: cyan;
 	}

 h3{
 	text-align: center;
 	border: solid 3px;
 	}

a{
	color: #ff0000;
}
a:hover{
	color: #00ff00;
}
a:visited{
	color: #0000ff;
}